  .Format {
    text-align: center;
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
    font-size: calc(10px + 2vmin);
    min-height: 100vh;
  }
  
  .Input {
    width: 50%;
    margin-left: 25%;
  }

  .btn {
    width: 50%;
    margin-left: 25%;
    font-family: 'Quicksand', sans-serif;
    color: white
  }

  .btn:hover {
    background-color: #343028;
  }

  .Logo {
    font-family: 'Quicksand', sans-serif;
    font-size: 126px;
    /* color: #245CF3; */
  }